@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to SnekHome!</h1>
    <p class="lead">By snake owners, for snake owners.</p>
    <p><a href="" class="btn btn-primary btn-lg">Subscribe now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>

        </p>
        <p><a class="btn btn-info" href="@Url.Action("Snakes", "Home")">Snakes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-info" href="">About Us</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-info" href="">Contact Us</a></p>
    </div>
</div>